name: markdown-autodocs

on:
  workflow_run:
    workflows:
      - build
    types:
      - completed

jobs:        
  auto-update-readme:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - name: Markdown autodocs
          uses: dineshsonachalam/markdown-autodocs@v1.0.3
          with:
            commit_author: mochaaP Bot <git-bot@mochaa.ws>
            commit_user_email: git-bot@mochaa.ws
            commit_message: 'chore(docs): update artificats'
